.info-box{
    text-align: center;
    margin:0 auto;
    font-weight: bolder;
}

.box{
    display: flex;
    justify-content: center;
    margin:0 auto;
    position: relative;
    text-align: center;
    width: 50vw;
    padding:5px;
}

